<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xtravaganza 2K23</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    
    <style>
                    ::-webkit-scrollbar {
                width: 0px;
            }
    </style>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                primary: '#090712',
                primary_light: '#0c0919',
                secondary: '#ff5005',
                secondary_light: '#ff9a30',
                insta: '#962fbf',
                youtube: '#c4302b ',
                facebook: '#3b5998',
                x: '#141414 ',
              }
            },
            container:{
                center:true
            }
          }, 
        }
      </script>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
            const hamburger = document.querySelector('#hamburger');
            const menu = document.querySelector('#menu');
            const hLink = document.querySelector('#hLink');
            const faSolid = document.querySelector('.fa-solid');

            hamburger.addEventListener("click", () => {
                menu.classList.toggle("hidden");
                faSolid.classList.toggle("fa-xmark");
            });

            hLink.forEach(link => {
                link.addEventListener("click",() => {
                    menu.classList.toggle("hidden");
                    faSolid.classList.toggle("fa-xmark");
                })
            })
        });
    </script>
</head>

<body>
    <div class="bg-primary w-screen h-screen">
        <div class="flex header h-32">
            <div class="container flex justify-between h-32">
                <div class="text-5xl mt-5 ">
                    <img src="ext_logo.png" class="w-20 md:w-20 ">
                </div>
                <div class="">
                    <ul class="hidden lg:flex text-white  space-x-16 text-lg mt-5">
                        <li class="hover:text-secondary ease-in duration-200"><a href="#">HOME</a></li>
                        <li class="hover:text-secondary ease-in duration-200"><a href="#">ABOUT</a></li>
                        <li class="hover:text-secondary ease-in duration-200"><a href="#">CONTACT</a></li>
                        <li class="hover:text-secondary ease-in duration-200"><a href="{%url 'login'%}">EVENTS</a></li>
                    </ul>
                </div>
            </div>
    
            <!-- mobile screen -->
    
            <div id="hamburger" class="lg:hidden cursor-pointer z-50 mt-6 mr-5 lg:h-32">
               <div><i class="fa-solid fa-bars bar " style="color: #ffffff;font-size: 30px;"></i></div>
            </div>
            <div id="menu" class="hidden bg-primary h-[100vh] absolute inset-0 z-10">
                <ul class="h-full grid place-items-center py-20 text-white">
                    <li class="hover:text-secondary ease-in duration-200"><a id="hLink" href="#">HOME</a></li>
                    <li class="hover:text-secondary ease-in duration-200"><a id="hLink" href="#">ABOUT</a></li>
                    <li class="hover:text-secondary ease-in duration-200"><a id="hLink" href="#">CONTACT</a></li>
                    <li class="hover:text-secondary ease-in duration-200"><a id="hLink" href="{%url 'login'%}">EVENTS</a></li>
                </ul>
            </div> 
        </div>

        <div  class="w-full lg:h-full h-full bg-primary">
            <div class="md:h-full md:w-full bg-primary ">  
                <div class="flex flex-col items-center justify-center content-center md:items-center md:justify-center md:content-center md:relative md:top-32  ">
                    <div class="h-48 flex relative md:right-10 top-16 md:top-0 right-5">
                        <img class="w-46 h-36 relative bottom-5" src="ACCESSw.png">
                        <img class="w-24 h-24" src="poly logo.png">
                    </div>
                    <div class="w-full h-full bg-primary flex flex-col mt-14 md:mt-0  md:flex-col  space-y-5">
                        <div>
                            <h1 class="text-white md:text-3xl font-bold md:tracking-widest text-center ">ASSOCIATION OF COMPUTER ENGINEERING STUDENTS</h1>
                        </div>
                        <div>
                            <h1 class="text-white md:text-2xl font-bold md:tracking-widest text-center text-lg">CENTRAL POLYTECHNIC COLLEGE,THIRUVANANTHAPURAM</h1>
                        </div>
                        <div>
                            <h1 class="text-secondary md:text-6xl text-3xl font-bold md:tracking-widest text-center font-serif mx-5">XTRAVAGANZA-2K23</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- section 2 -->

        <div class="h-full w-full bg-primary_light flex flex-col">
            <div class="w-full text-center justify-center flex h-44">
                <p class="text-secondary font-bold text-3xl font-serif border-b-2 border-secondary h-10">Events</p>
            </div>
            <div class="h-full w-full flex justify-center overflow-hidden flex space-x-16">
                <div id="slider" class=" h-4/5 rounded-2xl flex ease-in-out duration-200">
                    <!-- The images will be added dynamically using JavaScript -->
                </div>
                <div class="hidden md:flex ">
                    <div class="w-full h-full space-y-2">
                        <div class="text-white text-8xl font-bold font-sans">13 Events</div>
                        <div class="text-white text-8xl font-bold font-sans">75,000 PRIZE POOL</div>
                            <div class="flex space-x-10 space-y-3">
                                <div class="space-y-3 mt-3">
                                    <div class="text-secondary text-3xl font-bold font-sans">OCTOBER 6,7,8</div>
                                    <div class="text-secondary text-2xl font-bold font-sans">REGISTER <span class="text-white">NOW</span></div>
                                </div>
                                <div class="text-white text-2xl font-bold font-sans bg-secondary rounded-2xl w-36 h-12 text-center justify-center flex content-center items-center hover:bg-secondary_light"><a href="">Register</div>
                            </div>
                        <div class="text-white text-2xl font-bold font-sans mt-3">Register before October 1 </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            const slider = document.getElementById('slider');
            const images = [
                'main page.png',
                'mp page.png',
                'vissionpage.png',
                'xtra page.png',
                'INSTRUCTIONS.png',
                'Hackathon.png',
                'hins.png',
                'typing.png',
                'debugging.png',
                'errins.png',
                'coding.png',
                'cdins.png',
                'pp.png',
                'ppins.png',
                'ppins.png',
                'rivalry.png',
                'rins.png',
                'surge.png',
                'surgeins.png',
                'surgeins.png',
                'quiz.png',
                'qins.png',
                'ph.png',
                'phins.png',
                'th.png',
                'thins.png',
                'hacking.png',
                'hins.png',
                'wd.png',
                'wdins.png',
                'sudoku.png',
                'sdins.png',
            ];
            let currentIndex = 0;
        
            function startAutoSlide() {
                setInterval(() => {
                    updateSlider();
                    currentIndex = (currentIndex + 1) % images.length;
                }, 5000); // Switch image every 5 seconds
                updateSlider(); // Display the first image immediately
            }
            function updateSlider() {
                const imageSrc = images[currentIndex];
                slider.innerHTML = `<img src="${imageSrc}"  alt="Image ${currentIndex + 1}">`;
            }
            // Start the auto slide
            startAutoSlide();
        </script>
    </body>
</html>